<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CondoManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <description></description>
    <display-name>GenericEncodingFilter</display-name>
    <filter-name>GenericEncodingFilter</filter-name>
    <filter-class>web.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GenericEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <description></description>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudentServlet</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>web.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listStudentServlet</display-name>
    <servlet-name>listStudentServlet</servlet-name>
    <servlet-class>web.listStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listStudentServlet</servlet-name>
    <url-pattern>/listStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upDateStudentToEdit</display-name>
    <servlet-name>upDateStudentToEdit</servlet-name>
    <servlet-class>web.upDateStudentToEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upDateStudentToEdit</servlet-name>
    <url-pattern>/upDateStudentToEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet2</display-name>
    <servlet-name>UpdateStudentServlet2</servlet-name>
    <servlet-class>web.UpdateStudentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet2</servlet-name>
    <url-pattern>/UpdateStudentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>web.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addHousethingServlet</display-name>
    <servlet-name>addHousethingServlet</servlet-name>
    <servlet-class>web.addHousethingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHousethingServlet</servlet-name>
    <url-pattern>/addHousethingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudentHouseServlet</display-name>
    <servlet-name>addStudentHouseServlet</servlet-name>
    <servlet-class>web.addStudentHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentHouseServlet</servlet-name>
    <url-pattern>/addStudentHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addVistorServlet</display-name>
    <servlet-name>addVistorServlet</servlet-name>
    <servlet-class>web.addVistorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addVistorServlet</servlet-name>
    <url-pattern>/addVistorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addOutServlet</display-name>
    <servlet-name>addOutServlet</servlet-name>
    <servlet-class>web.addOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOutServlet</servlet-name>
    <url-pattern>/addOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serachVistorServlet</display-name>
    <servlet-name>serachVistorServlet</servlet-name>
    <servlet-class>web.serachVistorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachVistorServlet</servlet-name>
    <url-pattern>/serachVistor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPropertyServlet</display-name>
    <servlet-name>RegisterPropertyServlet</servlet-name>
    <servlet-class>web.RegisterPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPropertyServlet</servlet-name>
    <url-pattern>/RegisterPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServletshowid</display-name>
    <servlet-name>RegServletshowid</servlet-name>
    <servlet-class>web.RegServletshowid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServletshowid</servlet-name>
    <url-pattern>/RegServletshowid</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>RegServletshowdate</display-name>
    <servlet-name>RegServletshowdate</servlet-name>
    <servlet-class>web.RegServletshowdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServletshowdate</servlet-name>
    <url-pattern>/RegServletshowdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>HCostsetting</display-name>
    <servlet-name>HCostsetting</servlet-name>
    <servlet-class>web.HCostsetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HCostsetting</servlet-name>
    <url-pattern>/HCostsetting</url-pattern>
  </servlet-mapping>

</web-app>